Flask
google-auth
google-auth-oauthlib
google-api-python-client
pandas
numpy
scikit-learn
nltk
matplotlib
seaborn
torch
transformers
wordcloud
langdetect
joblib
requests
plotly
dash    
pytest
pytest-cov
mlflow
omegaconf
pydantic
ruff
mypy
loguru
PyInvoke
pdoc
docker-compose #
prometheus-client
flake8         
black          
PyYAML         
fastapi        
httpx         
pytest-mock    
pytest-asyncio 
uvicorn        
gunicorn       
notebook       
ipywidgets     

